.label {
  display: block;
  margin-bottom: 0.5rem;
}

.input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #959595;
  padding: 0.5rem;
}

.textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #959595;
  padding: 0.5rem;
}
